@import 'src/styles/colors';

.typography {
    margin: 0;
    color: $gray-dark;
}

@mixin setFont($size, $line-height, $weight) {
    font-size: $size;
    line-height: $line-height;
    font-family: $font-family;
    font-weight: $weight;
}

.title1 {
    @include setFont(6rem, 7.2rem, $bold-weight);
}

.title2 {
    @include setFont(4.8rem, 5.6rem, $bold-weight);
}

.title3 {
    @include setFont(3.4rem, 4rem, $bold-weight);
}

.headline {
    @include setFont(2.2rem, 3rem, $bold-weight);
}

.subheadline {
    @include setFont(1.8rem, 2.4rem, $bold-weight)
}

.body {
    @include setFont(1.6rem, 2rem, $regular-weight);

    &.small {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    &.large {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    &.bold {
        font-weight: $semibold-weight;
    }
}

.label {
    @include setFont(1.2rem, 1.6rem, $regular-weight);

    &.small {
        font-size: 1rem;
        line-height: 1.4rem;
    }
    &.large {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
    &.bold {
        font-weight: $semibold-weight;
    }
}

.uppercase {
    text-transform: uppercase;
}